/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028; 
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --heading-color: #000028;
  --accent-color: #ff0070;
  --hover-border-color: rgba(255, 0, 112, 0.4);
  --title-shadow-color: #ff0070;
  --pseudo-element-color: #ff0070;
  --section-title-color: #ff0070;
  --heading-background-color: #ff0070;

  --text-size: 18px;
  --font-family: 'IBM Plex mono';
  --font-style: normal;
  --title-text-size-small: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-text-size-large: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --line-height-rec: 25px;
  --line-height-title: 83%;
  --line-height-regular: 100%;
  --line-height-title-section: 23,4px;
  --decoration-offset: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

    
     
  
  
    